importFrom(multtest, plot)
importFrom(utils, write.table)
exportClasses(samplePointMatrix, sigSegments, spmCollection, compKc, compKcSigRegions)
exportMethods(plot, write.table, initialize, show, "[[", "[", "[[<-")
export("calcSpm", "calcSpmCollection", "getSigSegments", "findSigLevelTrad", "findSigLevelFdr", "plotScaleSpace", "idPoints","compareSpmCollection","getSigRegionsCompKC")
